h1{
    font-size: 5em;
    text-align: center;
    margin-top: 100px;
}
input{
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    width: 100%;
    border: 1px solid grey;    
}
.centre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.forme{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
.bouton:hover{
    background-color: white;
}
.recherche{
    margin: auto;
    width: 50%;

}
.soubeu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}
a{
    text-decoration: none;
    color: black;
}